{% block head %}
You are receiving this email because your Amazon {{ aws_service }} triggered a notification.

Accoun: {{ aws_account }}
Region: {{ aws_region }}
Resources: {{ aws_resources }}
{% endblock %}
